 <footer class="footer">
      <div class="footer-top">
        <div class="payment-methods">
          <img src="../../assets/footer-img-credit.png" alt="Visa" />
        </div>
      </div>
      <div class="footer-social">
        <a href="#"><img src="../../assets/footer-websites.png" alt="Websites" /></a>
        <!-- <a href="#"><img src="facebook-icon.png" alt="Facebook" /></a>
        <a href="#"><img src="instagram-icon.png" alt="Instagram" /></a>
        <a href="#"><img src="twitter-icon.png" alt="Twitter" /></a>
        <a href="#"><img src="discord-icon.png" alt="Discord" /></a> -->
      </div>
      <div class="footer-content">
        <div class="footer-logo">
          <!-- <img src="chicks-gold-logo.png" alt="Chicks Gold" /> -->
          <h4>Chicks Gold</h4>
          <p>supportchicksgold.com</p>
        </div>
        <div class="footer-links">
          <div>
            <h3>Chicks Gold</h3>
            <ul>
              <li><a href="#">Games</a></li>
              <li><a href="#">About Us</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">Sitemap</a></li>
            </ul>
          </div>
          <div>
            <h3>Support</h3>
            <ul>
              <li><a href="#">Contact Us</a></li>
              <li><a href="#">FAQ</a></li>
            </ul>
          </div>
          <div>
            <h3>Legal</h3>
            <ul>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Terms of Service</a></li>
              <li><a href="#">Copyright Policy</a></li>
            </ul>
          </div>
        </div>
        <div class="footer-reviews">
          <!-- <img src="trustpilot.png" alt="Trustpilot Reviews" /> -->
          <h5>✰✰✰✰✰ Trustpilot Reviews</h5>
        </div>
      </div>
      <div class="footer-bottom">
        <p>© 2017 - 2020 Chicksgold.com. All Rights Reserved</p>
      </div>
    </footer>