<main class="content">
  <h1 class="title">Condimentum consectetur</h1>
  <div class="filters">
    <div class="game-select">
      <i class="fi fi-ts-two-swords"></i>
      <select class="select-option">
        <option>Select a game</option>
      </select>
    </div>
    <div class="search-bar">
      <i class="fi fi-rs-search"></i>
      <input type="text" placeholder="Search" class="search-bar-search" />
    </div>
    <div class="price-filter">
      <i class="fi fi-rs-sack-dollar icons"></i>
      <p><span>Price:</span>All</p>
    </div>
    <div class="price-filter">
      <i class="fi fi-tr-scroll-document-story icons"></i>
      <p><span>Item Type:</span> All</p>
    </div>
  </div>
  <div class="content-container">
    <div class="products-header">
      <p class="products-title">Showing 20 - from 125</p>
      <div class="products-sort">
        <i class="fi fi-rs-sort"></i>
        <p>Sort by: Newest</p>
      </div>
    </div>
    <div class="product-list">
      <!-- Se utilizan cards generadas por codigo pero lo mejor seria tener un solo componente y que el renderizado se haga dinámico -->
      <div class="product-card">
        <div class="product-status">
          <div class="status">
            <span class="on-sale">● ON SALE</span>
            <span class="in-stock">In stock</span>
          </div>
          <div class="quantity">
            <label for="quantity">1</label>
            <select id="quantity">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
            </select>
          </div>
        </div>

        <div class="product-image">
          <img src="../../assets/miniatura.png" alt="Blue Partyhat" />
        </div>
        <div class="product-info">
          <h2 class="product-title">Blue Partyhat</h2>
          <div class="product-pricing">
            <span class="current-price">$450.00</span>
            <span class="original-price">$522.50</span>
          </div>
          <p class="product-description">
            Lorem ipsum dolor sit amet consectetur adipiscing elit.
          </p>
          <div class="product-buttons">
            <button class="details-btn">DETAILS</button>
            <button class="add-btn">
              ADD
              <span class="cart-icon">🛒</span>
            </button>
          </div>
        </div>
      </div>
      <div class="product-card">
        <div class="product-status">
          <div class="status">
            <span class="on-sale">● ON SALE</span>
            <span class="in-stock">In stock</span>
          </div>
          <div class="quantity">
            <label for="quantity">1</label>
            <select id="quantity">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
            </select>
          </div>
        </div>

        <div class="product-image">
          <img src="../../assets/miniatura.png" alt="Blue Partyhat" />
        </div>
        <div class="product-info">
          <h2 class="product-title">Blue Partyhat</h2>
          <div class="product-pricing">
            <span class="current-price">$450.00</span>
            <span class="original-price">$522.50</span>
          </div>
          <p class="product-description">
            Lorem ipsum dolor sit amet consectetur adipiscing elit.
          </p>
          <div class="product-buttons">
            <button class="details-btn">DETAILS</button>
            <button class="add-btn">
              ADD
              <span class="cart-icon">🛒</span>
            </button>
          </div>
        </div>
      </div>
      <div class="product-card">
        <div class="product-status">
          <div class="status">
            <span class="on-sale">● ON SALE</span>
            <span class="in-stock">In stock</span>
          </div>
          <div class="quantity">
            <label for="quantity">1</label>
            <select id="quantity">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
            </select>
          </div>
        </div>

        <div class="product-image">
          <img src=".../../assets/miniatura.png" alt="Blue Partyhat" />
        </div>
        <div class="product-info">
          <h2 class="product-title">Blue Partyhat</h2>
          <div class="product-pricing">
            <span class="current-price">$450.00</span>
            <span class="original-price">$522.50</span>
          </div>
          <p class="product-description">
            Lorem ipsum dolor sit amet consectetur adipiscing elit.
          </p>
          <div class="product-buttons">
            <button class="details-btn">DETAILS</button>
            <button class="add-btn">
              ADD
              <span class="cart-icon">🛒</span>
            </button>
          </div>
        </div>
      </div>
      <div class="product-card">
        <div class="product-status">
          <div class="status">
            <span class="on-sale">● ON SALE</span>
            <span class="in-stock">In stock</span>
          </div>
          <div class="quantity">
            <label for="quantity">1</label>
            <select id="quantity">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
            </select>
          </div>
        </div>

        <div class="product-image">
          <img src="../../assets/miniatura.png" alt="Blue Partyhat" />
        </div>
        <div class="product-info">
          <h2 class="product-title">Blue Partyhat</h2>
          <div class="product-pricing">
            <span class="current-price">$450.00</span>
            <span class="original-price">$522.50</span>
          </div>
          <p class="product-description">
            Lorem ipsum dolor sit amet consectetur adipiscing elit.
          </p>
          <div class="product-buttons">
            <button class="details-btn">DETAILS</button>
            <button class="add-btn">
              ADD
              <span class="cart-icon">🛒</span>
            </button>
          </div>
        </div>
      </div>
      <div class="product-card">
        <div class="product-status">
          <div class="status">
            <span class="on-sale">● ON SALE</span>
            <span class="in-stock">In stock</span>
          </div>
          <div class="quantity">
            <label for="quantity">1</label>
            <select id="quantity">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
            </select>
          </div>
        </div>

        <div class="product-image">
          <img src="../../assets/miniatura.png" alt="Blue Partyhat" />
        </div>
        <div class="product-info">
          <h2 class="product-title">Blue Partyhat</h2>
          <div class="product-pricing">
            <span class="current-price">$450.00</span>
            <span class="original-price">$522.50</span>
          </div>
          <p class="product-description">
            Lorem ipsum dolor sit amet consectetur adipiscing elit.
          </p>
          <div class="product-buttons">
            <button class="details-btn">DETAILS</button>
            <button class="add-btn">
              ADD
              <span class="cart-icon">🛒</span>
            </button>
          </div>
        </div>
      </div>
      <div class="product-card">
        <div class="product-status">
          <div class="status">
            <span class="on-sale">● ON SALE</span>
            <span class="in-stock">In stock</span>
          </div>
          <div class="quantity">
            <label for="quantity">1</label>
            <select id="quantity">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
            </select>
          </div>
        </div>

        <div class="product-image">
          <img src="../../assets/miniatura.png" alt="Blue Partyhat" />
        </div>
        <div class="product-info">
          <h2 class="product-title">Blue Partyhat</h2>
          <div class="product-pricing">
            <span class="current-price">$450.00</span>
            <span class="original-price">$522.50</span>
          </div>
          <p class="product-description">
            Lorem ipsum dolor sit amet consectetur adipiscing elit.
          </p>
          <div class="product-buttons">
            <button class="details-btn">DETAILS</button>
            <button class="add-btn">
              ADD
              <span class="cart-icon">🛒</span>
            </button>
          </div>
        </div>
      </div>
      <div class="product-card">
        <div class="product-status">
          <div class="status">
            <span class="on-sale">● ON SALE</span>
            <span class="in-stock">In stock</span>
          </div>
          <div class="quantity">
            <label for="quantity">1</label>
            <select id="quantity">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
            </select>
          </div>
        </div>

        <div class="product-image">
          <img src="../../assets/miniatura.png" alt="Blue Partyhat" />
        </div>
        <div class="product-info">
          <h2 class="product-title">Blue Partyhat</h2>
          <div class="product-pricing">
            <span class="current-price">$450.00</span>
            <span class="original-price">$522.50</span>
          </div>
          <p class="product-description">
            Lorem ipsum dolor sit amet consectetur adipiscing elit.
          </p>
          <div class="product-buttons">
            <button class="details-btn">DETAILS</button>
            <button class="add-btn">
              ADD
              <span class="cart-icon">🛒</span>
            </button>
          </div>
        </div>
      </div>
      <div class="product-card">
        <div class="product-status">
          <div class="status">
            <span class="on-sale">● ON SALE</span>
            <span class="in-stock">In stock</span>
          </div>
          <div class="quantity">
            <label for="quantity">1</label>
            <select id="quantity">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
            </select>
          </div>
        </div>

        <div class="product-image">
          <img src="../../assets/miniatura.png" alt="Blue Partyhat" />
        </div>
        <div class="product-info">
          <h2 class="product-title">Blue Partyhat</h2>
          <div class="product-pricing">
            <span class="current-price">$450.00</span>
            <span class="original-price">$522.50</span>
          </div>
          <p class="product-description">
            Lorem ipsum dolor sit amet consectetur adipiscing elit.
          </p>
          <div class="product-buttons">
            <button class="details-btn">DETAILS</button>
            <button class="add-btn">
              ADD
              <span class="cart-icon">🛒</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
